.TrendingCard {
  &__globalContainer {
    height: 8em;
    width: 15em;
    background-size: cover;
    border-radius: 10px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    &:hover {
      cursor: pointer;
      filter: grayscale(1);
    }
  }

  &__title {
    color: #b6b6b6;
    margin-bottom: 0;
  }
}
