.navbar {
  &__globalContainer {
    height: 70px;
    padding: 0 2em;
    display: flex;
    justify-content: space-between;
    transition: 0.5s;
    align-items: center;
    color: #fff;
    position: fixed;
    width:100%;
    box-sizing: border-box;
    z-index: 1000;
  }

  &__linkRight {
    margin-left: 20px;
    cursor: pointer;
  }

  &__linkLeft {
    margin-right: 20px;
    cursor: pointer;
    &:hover {
      font-weight: 800;
      transition: 0.3s;
    }
  }

  &__imgProfil {
    height: 25px;
    width: 25px;
  }

  &__logo {
    height: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__icon {
    font-size: 20px;
  }
}
